@page "{Pedido?}/{Order?}/{Nombre?}/{Direccion?}/{Pago?}/{Total?}"
@model TC3004B_M4_T01_E1.Pages.SuccessfulModel
@{
    ViewData["Title"] = "Tienda - Pago - Resultado";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #FAF7DC;
        }
    </style>
</head>
<body>

<div class="text-center">
    <div class="container">
      
      

        <div style="display: flex; justify-content: center; align-items: center" class="row">
            <div class="col-2">
                <img  class="card-img-top rounded" >
            </div>
            <div class="col-6">
                <div style="display: flex; justify-content: center; align-items: center">
                        <div style="font-family: 'Alfa Slab One', serif; font-size: 75px; color:#233a6c" class="name">PAGO EXITOSO</div>
                </div>
            </div>
            <div class="col-2">
                <img  class="card-img-top rounded" >
            </div>
        </div>
      
        <hr>
        <div style="display: flex; justify-content: center; align-items: center" class="row">
            <div class="col-12">
                <div style="display: flex; justify-content: center; align-items: center">
                    <div style="font-family: 'Rubik', sans-serif; font-size: 55px; margin-left: 15px;" class="name">RECIBO - Pedido #@ViewData["PaymentSuccessPedido"]</div>
                </div>
                <br>
                <div style="display: flex; justify-content: center; align-items: center">
                    <h3 style="font-family: 'Rubik', sans-serif; font-size: 25px;"><b>Orden:</b></h3>
                    <div style="font-family: 'Rubik', sans-serif; font-size: 35px; margin-left: 15px;" class="name">@ViewData["PaymentSuccessOrder"]</div>
                </div>
                <br>
                <div style="display: flex; justify-content: center; align-items: center">
                    <h3 style="font-family: 'Rubik', sans-serif; font-size: 25px;"><b>Nombre:</b></h3>
                    <div style="font-family: 'Rubik', sans-serif; font-size: 35px; margin-left: 15px;" class="name">@ViewData["PaymentSuccessNombre"]</div>
                </div>
                <br>
                <div style="display: flex; justify-content: center; align-items: center">
                    <h3 style="font-family: 'Rubik', sans-serif; font-size: 25px;"><b>Dirección:</b></h3>
                    <div style="font-family: 'Rubik', sans-serif; font-size: 35px; margin-left: 15px;" class="name">@ViewData["PaymentSuccessDireccion"]</div>
                </div>
                <br>
                <div style="display: flex; justify-content: center; align-items: center">
                    <h3 style="font-family: 'Rubik', sans-serif; font-size: 25px;"><b>Pago:</b></h3>
                    <div style="font-family: 'Rubik', sans-serif; font-size: 35px; margin-left: 15px;" class="name">@ViewData["PaymentSuccessPago"]</div>
                    <h3 style="font-family: 'Rubik', sans-serif; font-size: 25px; margin-left: 30px;"><b>Total:</b></h3>
                    <div style="font-family: 'Rubik', sans-serif; font-size: 35px; margin-left: 15px;" class="name">$@ViewData["PaymentSuccessTotal"]</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div style="display: flex; justify-content: center;">
                    <style>
                        .boton {
                            transition: box-shadow 0.3s ease;
                        }

                            .boton:hover {
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    </style>
                    <a style="color: white; background-color: #233a6c; border-radius: 20px; font-weight: bold; font-size: 35;" class="boton" href="/Minijuego">JUGAR MINIJUEGO</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
